div:hover{
    border: 2px solid salmon;
}
div:first-child{
    background-color: aquamarine;
}
div:nth-child(2){
    color: blue;
}
div:nth-child(3){
    color: saddlebrown;
}
div:nth-child(4){
    color: red;
}
div:last-child{
    color: black;
}
p:nth-child(1){
    color: aqua;
}
p:nth-child(2){
    color: bisque;
}
p:nth-child(3){
    color: red;
}