.super-mario {
  width: 100px;
  z-index: 1;
  position: absolute;
}

.goomba {
  width: 100px;
  
}

.baloon {
    position: absolute;
    bottom: 1rem;
    right: 13rem;
    top: 5rem;
    z-index: -1;
    width: 100px;
}

.speach {
    font-size: 25px;
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 14rem;
    top: 6rem;
    font-size: 0.5rem;
  
}

.bowser {
  width: 200px;
  float: right;
}